.thankyou_img_container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 1.5rem;

}

.selected{
    width: 60%;
    border-radius: 25px;
    padding: 8px 12px;
    background-color: hsl(211, 19%, 24%);
    margin: 1.5rem auto;
    text-align: center;
    color: hsl(25, 75%, 46%);
    
}

.title{
    color: hsl(0, 0%, 100%);
    margin: 2rem 0 1rem 0;
    text-align: center;
}

.text{
    color: hsl(217, 12%, 63%);
    font-size: 0.9rem;
    line-height: 1.4rem;
    text-align: center;
}